body {
  background-color: #ccc;
  font-family: 'Press Start 2P', cursive;
  font-size: 0.9rem;

  /* disable highlighting text */
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;

}

.App {
  justify-content: center;
}

.content-inner {
  padding: 10px 15px;
  margin: 0 auto;
  text-align: center;
  max-width: 1170px;
}

p {
  line-height: 1.8em;
  text-align: justify;
}

.info-inner {
  margin-top: 55px;
}

.align-center {
  text-align: center;
}

.keys-icons {
  vertical-align: middle;
}

.game-container {
  display: flex;
  justify-content: center;
  margin-left: -345px;
}


